Jinja2==3.0.1
importnb==0.6.2
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.0.8
mlinspect[dev] @ git+https://github.com/stefan-grafberger/mlinspect.git@dd94830649c89dc713d38b7b44600edba73f1b46
matplotlib==3.4.2
mlflow==1.18
numba==0.53
# This is problematic on MacOS
# icc-rt==2020.0.133
pyyaml==5.4.1
#pyarrow==4.0.1
faker
