mlinspect[dev] @ git+https://github.com/stefan-grafberger/mlinspect.git@6152ab7b70f31aee996c84e65f00e62a23b78096
matplotlib==3.4.2
mlflow==1.18
numba==0.53
# This is problematic on MacOS
# icc-rt==2020.0.133
pyyaml==5.4.1
#pyarrow==4.0.1
faker
